#home .mas{
     color:#000;
     background-color:#fff;
     text-align:right;
     border-radius:14%;
     height:35px;
}
 .titulos {
     margin-top:15px;
     margin-bottom:15px;
     font-size: 18px;
     font-weight: bold;
     color: #122;
}
 .fa-tv {
     color: #fd4c5d;
}
 .fa-star{
     color: #fd4c5d;
}
 .fa-video{
     color: #fd4c5d;
}
 .fa-cloudscale{
     color: #fd4c5d;
}
 .fa-newspaper{
     color:#fd4c5d;
}
.fa{
   color: #fd4c5d;
}
#barra-secundaria .text-center {padding-top:px;}
#barra-secundaria a{ line-height:1em !important; margin-left:1em; color:#000;}
#barra-secundaria a:hover{text-decoration: none;}
#barra-secundaria a:active{ border-bottom: 5px solid #800000; border-width: 70%; }
#barra-secundaria{
    margin-bottom: 1.5em;
    height:50px;
    text-align:center;

z-index: 9;

height: 46px;

line-height: 46px;

font-size: 14px;

position: relative;

width: 100%;

border-bottom: 1px solid #e5e5e5;

background: #fff;
 
    
}

.titulares{
     margin-bottom: 6px;
     margin-top: 16px;
     color:#000;
     font-weight: 700;
     font-size: 13px;

}

#noticias a {
    color:#000;
}
#Resultados{
    color:#000;
}
.link{
    color:#374850;
}
#noticiad{
    margin-top:2em;
}

/*Detalles series*/
#detalle-seriexdxd {
    background-color: #303036;
    color: #fff;
     
}
#detalle-seriexdxd .container {
     padding-top:2em;
}
#detalle-seriexdxd p,#detalle-seriexdxd  h1, #detalle-seriexdxd h2,#detalle-seriexdxd  h3,#detalle-seriexdxd  h4,#detalle-seriexdxd  span{
    margin-bottom: 0.5rem;
    color: #fff;
}

#detalle-seriexdxd b {color: #fd4c5d;}

#detalle-seriexdxd .capitulos {
    height: 400px;
}