#home .mg {
    margin-top: 10px !important;
}

#home .card {
margin-bottom:20px; 
background-color:#f2f2f2;
-webkit-box-shadow: 3px 10px 16px -4px rgba(0,0,0,0.52);
-moz-box-shadow: 3px 10px 16px -4px rgba(0,0,0,0.52);
box-shadow: 3px 10px 16px -4px rgba(0,0,0,0.52);
}
.cap-es{
    height:7.3vw !important;
    width: 100%;
    border-radius: 2% 2% 0px 0px;
}
.span.Capi {
    position: absolute;
    bottom:40px;
    right:2px;
    width: 50%;
    font-weight:bold;
    line-height: 16px;
    background-color: #ff7e00;
    border-radius: 32px;
    padding: 0 8px;
    font-size: 11px;
    color: #fff;
}
.Title {
    display: block;
    bottom: 20px;
    overflow: hidden;
    font-weight:bold;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #000;
    padding-right: 2px;
    padding-left: 2px;
}
ul li {
    list-style: none;
}

a, a:hover, a:focus {
    text-decoration: none;
    outline: none;
}

-moz-selection {
    background: #68dff0;
    color: #fff;
}
nav li{ padding-left:1em; }
nav li a{
    color:#fff;
}
nav{
    background-color:#000;
    color:#fff;
 
}
#boton-menu{ display:none; }
.mostrar{ display: block !important; }
/*Para ocultar y el responsive*/
.font-s{ display: none !important; }

@media (max-width:550px){
   .ocultar{display: none;}
    #buscar input{width:60%; display:inline;}
    .font-s{display:block;}
    #buscar .form-inline form{ width:100% !important; }
     #buscar .form-inline input{ width:60% !important; }
   .font-s{margin-bottom: 1.5em; margin-top:1em; }
   #boton-menu{display: block;}
   .mi-menu{display: none;}
@media (min-width:551px) and (max-width:960px){
    #buton-r{display:block;}
    .font-s{display:block;}
    #buscar{display:none;}
    .mi-menu{ display:none; }
    #boton-menu{display: block;}
}
@media (min-width:960px){
    .font-s{display:none !important;}
    #boton-menu{ display:none !important; }
}

/*footer Eloy */ 

#tope .bloque-1{
    margin-top: 1em;
    border-right: 1px #d3d3d3 dotted;
}

#tope h3{
    font-size: 12px;
}

#tope h4{
    font-size: 12px;
}

#tope img{
    width: 40%;
    background: #fff;
    margin-top: 10px;
    margin left: 10px;
}

#tope .bloque-2{
    margin-top: 1em;
    border-right: 1px #d3d3d3 dotted;
    margin-left: 5px;
}

#medio bloque.3 {
    margin-top: 1em;
}
#medio h3{
    font-size: 12px;
}

#medio h4{
    font-size: 12px;
}

#abajo{
    text-align: center;
}

#abajo p{
font-size: 12px;
}
footer{
    background-color:#f2f2f2;
}
.pie-pagina  p{margin-bottom:0; padding-bottom:1.5em;}

/*Sofia estilos*/
#barra-secundaria{
    background-color:#808080;
    color:#fff;
    font-family: 'Amaranth', sans-serif;
    margin-bottom: 1.5em;
    min-height:60px;
    text-align:Center;
    padding-top:20px;
    
}
#barra-secundaria a{ line-height:1em !important; margin-left:1em; color:#fff;}
#barra-secundaria a:hover{text-decoration: none;}
#barra-secundaria a:active{ border-bottom: 5px solid #800000; border-width: 70%; }
.rounded{
    margin-bottom:50px;
}
/* Para los subtitulos de los row*/
.sub-t{
    margin-bottom:1em;
    font-family: 'Amaranth', sans-serif;
}
#home{
margin-bottom:2.5em;
}
