nav #barra-principal {
    height: 100px !important;
    background-color:#494949 !important;
    color:#fff;
}

#barra-principal .logo{
    width: 4em;
    height: 64px;
}

#barra-principal span{
  display: inline;
  margin-left: 10px;
}

#barra-principal i{
    margin-left: 4px;
}

#portada .portada-principal{
    width: 100%;
    height: 15em;
}

#barra-secundaria {
   
}

#barra-secundaria a{
    position: absolute;
    margin-right: 10px;
}
.rounded{
    margin-bottom:50px;
}
footer{
    background-color:#ECECEC;
    color:#800040;
    width:100%;
    height:200px;

}