body{
    font-family: 'Amaranth', sans-serif;
    background-color:#f2f2f2;
}

nav #barra-principal {
    height: 100px !important;
    background-color:#494949 !important;
    color:#fff;
    padding-top:1em !important;
}

#barra-principal .logo{
    width: 4em;
    height: 64px;
}
#barra-principal .float-right{ float:right;}
#barra-principal span{
  display: inline;
  margin-left: 10px;
}
#barra-principal .btnb{
    margin-left:-10px;
    border-top-left-radius: 0;
    border-bottom-right-radius: 5px;
}

#barra-principal i{
    margin-left: 4px;
}

#portada .portada-principal{
    width: 100%;
    height: 15em;
}

#barra-secundaria{
    background-color:#808080;
    color:#fff;
    font-family: 'Amaranth', sans-serif;
    margin-bottom: 1.5em;
    min-height:60px;
    text-align:Center;
    padding-top:20px;
    
}
#barra-secundaria a{ line-height:1em !important; margin-left:1em; color:#fff;}
#barra-secundaria a:hover{text-decoration: none;}
#barra-secundaria a:active{ border-bottom: 5px solid #800000; border-width: 70%; }
.rounded{
    margin-bottom:50px;
}
/* Para los subtitulos de los row*/
.sub-t{
    margin-bottom:1em;
    font-family: 'Amaranth', sans-serif;
}
#body{
margin-bottom:2.5em;
}
/* Estilos Eloy */ 
#tope .bloque-1{
    margin-top: 1em;
    border-right: 1px #d3d3d3 dotted;
}

#tope h3{
    font-size: 12px;
}

#tope h4{
    font-size: 12px;
}

#tope img{
    width: 40%;
    background: #fff;
    margin-top: 10px;
    margin left: 10px;
}

#tope .bloque-2{
    margin-top: 1em;
    border-right: 1px #d3d3d3 dotted;
    margin-left: 5px;
}

#medio bloque.3 {
    margin-top: 1em;
}
#medio h3{
    font-size: 12px;
}

#medio h4{
    font-size: 12px;
}

#abajo{
    text-align: center;
}

#abajo p{
font-size: 12px;
}
footer{
    background-color:#f2f2f2;
}
.pie-pagina  p{margin-bottom:0; padding-bottom:1.5em;}