#login{
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 800px;
}
.padding-b{ padding-bottom: 15vmin; }
.headerlog{
border-bottom-style: solid; 
border-bottom-width: 1px; 
border-bottom-color:#fff;     
}

.headerlog .portal{ color:#fff; }
.loginbg{
  background-color: #fff;
  margin-bottom: 2em;
  width: 80%;
}
#login .border{ 
  margin-top:1em;
  margin-bottom: 2em;
  border:solid 1px #f2f2f2;
  padding:1em; 
}
.btn-ingresar{
  color:#fff;
  background-color: #3949AB;
  margin-bottom: 1em;
  font-weight: bold;
  font-size:1em;
  text-transform: uppercase;
}
.una{color:#FF0000;}
.crear-cuento{text-align: center;}
.info-text{line-height: 2;}
.logo{
  width:35px;
  height:35px;
  background-color: #ff382e;
  color:#fff;
  text-align: center;
  font-size: 2em;
  font-family: 'Shojumaru', cursive;
  float:center;
 
}
.btn-regi{
  background-color: #F4511E;
  color:#fff;
   margin:1.5em;
   font-weight: bold;
}
.login-b{
  color:#fff;
  width:2.5em;
  padding:1.5em;
  line-height: 1em;
 font-weight: bold;
}
.btn-regi:hover{
  color:#fff;
  background-color: #ff382e;
}
.registrar-div{ float:right; }
.login-b:hover{
  background-color: rgb(255, 255, 255, 0.1);
  color:#fff;
  text-decoration: none;
  font-weight: bold;
}